<!-- inherits the structure of the "base.html" file -->
{% extends "base.html" %}
{% block content %}

  <h2>View Entries</h2>

  <!-- creates the components for each entry in hte database -->
  <!-- {% for i in entries %}
    <div class="container-fluid">
      <p>
        <strong>Date:</strong> <br>
        <strong>Emotions:</strong> <br>
        <strong>Reasons for being stressed:</strong> <br>
        <strong>Additional comments:</strong> <br>
      </p>
    </div>
  {% endfor %} -->

{% endblock %}
